[Unit]
Description=Reboot in Secure IPL mode after NestOS Installer
Requires=nestos-installer.target
After=nestos-installer.target
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
ConditionPathExists=/run/nestos-installer-reboot
ConditionKernelCommandLine=nestos.inst.secure_ipl

[Service]
Type=simple
# On z/VM, we need to use 'vmcp ipl loaddev'. Otherwise, for the LPAR case, we can just reboot as usual.
ExecStart=/bin/sh -c '[ -e /dev/vmcp ] && vmcp ipl loaddev || systemctl --no-block reboot'
StandardOutput=kmsg+console
StandardError=kmsg+console