[Unit]
Description=Disable Device Auto-Activation for NestOS Installer
DefaultDependencies=no
Before=systemd-udevd.service
Before=dm-event.service
# bash requires a writable /tmp for here-documents
RequiresMountsFor=/tmp

[Service]
Type=oneshot
ExecStart=/usr/libexec/nestos-installer-disable-device-auto-activation
