[Unit]
Description=Finalize NestOS Installer Target
AllowIsolate=yes

Requires=nestos-installer.target
Requires=nestos-installer-reboot.service
Requires=nestos-installer-noreboot.service
Requires=nestos-installer-secure-ipl-reboot.service