[Unit]
Description=Reboot after NestOS Installer
Requires=nestos-installer.target
After=nestos-installer.target
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
ConditionPathExists=/run/nestos-installer-reboot

[Service]
Type=simple
ExecStart=/usr/bin/systemctl --no-block reboot
StandardOutput=kmsg+console
StandardError=kmsg+console
